@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij EnergieBewustLeven</h1>
</div>
<div class="text-center">
    <a class="btn btn-primary" asp-action="NavScreen">Begin met vergelijken!</a>
</div>
