
@{
    ViewData["Title"] = "NavScreen";
}

<h1>NavScreen</h1>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                <a class="btn btn-primary" asp-action="">Apparatenlijst</a>
            </th>
            <th class="text-center">
                <a class="btn btn-primary" asp-action="">Voeg een meting toe</a>
            </th>
        </tr>
    </thead>
</table>

