@{
    ViewData["Title"] = "Energiebewust leven";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij EnergieBewustLeven</h1>
    <a class="btn btn-primary" asp-action="NavScreen">Begin met besparen</a>
</div>
