@{
    ViewData["Title"] = "EnergieBewustLeven";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij EnergieBewustLeven!</h1>
    <div>
        <a class="btn btn-primary" asp-action="NavScreen">Begin met bezuinigen!</a>
    </div>
</div>

