@{
    ViewData["Title"] = "Energiebewust leven";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij EnergieBewustLeven</h1>
    <p>Goed stuk tekst. Hier word uitgelegd hoe belangrijk het is om energie bewust te leven en hoe deze website je kan helpen. Dit is natuurlijk een iets langer stukje dus... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <a class="btn btn-primary" asp-action="NavScreen">Begin met besparen</a>
</div>
