
@{
    ViewData["Title"] = "ListPlaceholder";
}

<h1>ListPlaceholder</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("table head1")
            </th>
            <th>
                @Html.DisplayName("table head2")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayName("table body1")
            </td>
            <td>
                @Html.DisplayName("table body2")
            </td>
            <td>
                <a class="btn btn-warning" asp-action="">Edit</a> |
                <a class="btn btn-success" asp-action="">Details</a> |
                <a class="btn btn-danger" asp-action="">Delete</a>
            </td>
        </tr>
    </tbody>
</table>