
@{
    ViewData["Title"] = "Energiebewust leven";
}

<h1>Waar wil u gebruik van maken?</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                <a class="btn btn-primary" asp-controller="Appliance" asp-action="Index">Apparatuurlijst bekijken</a>
            </th>
@*            <th class="text-center">
                <a class="btn btn-primary" asp-controller="Appliance" asp-action="Compare">Apparatuur vergelijken</a>
            </th>*@
            @*@if (User.IsInRole("Admin") || User.IsInRole("User"))
            {
                <th class="text-center">
                    <a class="btn btn-primary" asp-controller="Measurements" asp-action="Create">Meting toevoegen</a>
                </th>
                <th class="text-center">
                    <a class="btn btn-primary" asp-controller="Reviews" asp-action="Create">Review toevoegen</a>
                </th>
            }*@
            
        </tr>
    </thead>
</table>

