@{
    ViewData["Title"] = "EnergieBewustLeven";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a type="button" class="btn btn-primary" asp-controller="Products" asp-action="Index">Apparatenlijst</a>
            </th>
            <th>
                <a type="button" class="btn btn-primary" asp-controller="Sales" asp-action="Index">Meting toevoegen</a>
            </th>
        </tr>
    </thead>
</table>
