
@{
    ViewData["Title"] = "Energiebewust leven";
}

<h1>Waar wil u gebruik van maken?</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                <a class="btn btn-primary" asp-action="ListPlaceholder">Apparatuurlijst bekijken</a>
            </th>
            <th class="text-center">
                <a class="btn btn-primary" asp-action="AddPlaceholder">Meting toevoegen</a>
            </th>
        </tr>
    </thead>
</table>

