
@{
    ViewData["Title"] = "ProgressionPlaceholder";
}

<div>
    <img id="ProgressionImg" src="~/Images/progression1.png" onclick="loadNext"/>
</div>
<div>
    <a style="text-decoration:none" href="@Url.Action("ProgressionNext", "Home")">
        <img src="~/Images/progression1.png" />
    </a>
</div>

