@model EnergieBewustLeven.MVC.Data.ApplicationUser
@{
    ViewData["Title"] = "ProgressionPlaceholder";
}

<div>
    @if(Model.Level <= 10)
    {
        <div>
            <img src="~/Images/progression1.png"/>
        </div>
    }
    else if(Model.Level > 10 && Model.Level <= 25)
    {
        <div>
            <img src="~/Images/progression2.png"/>
        </div>
    }
    else
    {
        <div>
            <img src="~/Images/progression3.png"/>
        </div>
    }
</div>
<div>
    <a class="btn btn-primary" asp-controller="Users" asp-action="AddLevel">Add level</a>
</div>

