@model EnergieBewustLeven.MVC.Models.ApplianceDetailViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Wil u dit device echt verwijderen?</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Naam van het device:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplianceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Merk van het device:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplianceBrand)
        </dd>
    </dl>
    <div><p></p></div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ApplianceId" />
        <input type="submit" value="Verwijderen" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="AdminIndex">Terug naar de apparatenlijst</a>
    </form>
</div>
