@model EnergieBewustLeven.API.Models.DTO.AddReviewRequestDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplianceId" class="control-label">Appliance</label>
                <select asp-for="ApplianceId" asp-items="@(new SelectList(ViewBag.ApplianceIdList, "Value", "Text"))" class="form-control">
                    <option value="">Select Appliance</option>
                </select>
                <span asp-validation-for="ApplianceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewText" class="control-label">ReviewText</label>
                <input asp-for="ReviewText" class="form-control" />
                <span asp-validation-for="ReviewText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewScore" class="control-label">ReviewScore</label>
                <input asp-for="ReviewScore" class="form-control" />
                <span asp-validation-for="ReviewScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
